@import url('https://fonts.googleapis.com/css2?family=Comme:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  all: unset;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Comme', sans-serif;
  background: #FAFAFA;
}